.header{
    display: flex;
    background-color: #0474c9;
    justify-content: space-between;
    box-shadow: 1px 8px 14px 0px rgba(19, 225, 170, 0.2);
  }
  .header__logo{
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
    color:#030354;
    padding:10px 30px
  }
  
  @media(max-width:490px){
    .header__logo{
      font-size:38px
    }
  }
  @media(max-width:392px){
    .header__logo{
      font-size:31px
    }
  }